@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primary: #3D8D7A;
    --color-secondary: #B3D8A8;
    --color-tertiary: #FBFFE4;
    --color-hover: #A3D1C6;

    --font-family-primary: "Krona One", sans-serif;
    --font-family-secondary: "Montserrat", sans-serif;
}


* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    background-color: var(--color-primary);
    color: var(--color-tertiary);
    padding-top: 80px;
}


/* Menu */
.main-header {
    background-color: var(--color-secondary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 20px;
    z-index: 1000;
    border-bottom: 3px solid var(--color-tertiary);
}

.main-header_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family-secondary);
    font-size: 1.5rem;
    font-weight: 600;
    gap: 30px;
}

.main-header_menu_link {
    background-color: var(--color-primary);
    color: var(--color-tertiary);
    text-decoration: none;
    border-radius: 6px;
    padding: 8px 12px;
}

.main-header_menu_link:hover {
    background-color: var(--color-hover);
    color: var(--color-primary);
}

/* Main Content */
.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 8%;
    gap: 50px;
}

.main-content_section {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 40px;
}

.main-content_section_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.main-content_img {
    width: 550px;
    border-radius: 10px;
}

.main-content_section_title {
    font-family: var(--font-family-primary);
    font-size: 2rem;
    color: var(--color-tertiary);
    text-align: center;
}

.main-content_section_title_strong {
    color: var(--color-secondary);
}

.main-content_section_paragraph {
    font-family: var(--font-family-secondary);
    font-size: 1.5rem;
    color: var(--color-tertiary);
    text-align: justify;
}

.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.presentation_subtitle {
    font-family: var(--font-family-secondary);
    font-size: 1.75rem;
    text-align: center;
    color: var(--color-tertiary);
}

.presentation_btn {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-family: var(--font-family-secondary);
    font-size: 1.75rem;
    font-weight: 600;
    border: 3px solid var(--color-secondary);
    background-color: var(--color-primary);
    color: var(--color-tertiary);
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    width: 60%;
    padding: 21px;
}

.presentation_btn:hover {
    background-color: var(--color-hover);
    color: var(--color-primary);
}

/* Curriculum */
.main-curriculum {
    display: flex;
    flex-direction: column;
    padding: 3% 8%;
    gap: 35px;
}

.main-curriculum_section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-curriculum_section_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main-curriculum_section_header_title {
    font-family: var(--font-family-secondary);
    font-size: 2rem;
    color: var(--color-secondary);
    padding-bottom: 1%;
}

.main-curriculum_section_header_p {
    font-family: var(--font-family-secondary);
    font-size: 1.5rem;
    color: var(--color-tertiary);
}

.main-curriculum_section_subtitle {
    font-family: var(--font-family-secondary);
    font-size: 1.5rem;
    color: var(--color-secondary);
}

.main-curriculum_section_paragraph {
    font-family: var(--font-family-secondary);
    font-size: 1.25rem;
    color: var(--color-tertiary);
    text-align: justify;
}

.main-curriculum_section_paragraph_strong {
    padding-right: 15px;
}

/* Footer */
.main-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-secondary);
    padding: 20px 0;
    border-top: 3px solid var(--color-tertiary);
    gap: 20px;
}

.main-footer_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.main-footer_section_contact_social,
.main-footer_section_contact_mail {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main-footer_section_contact_title {
    font-family: var(--font-family-secondary);
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--color-tertiary);
}

.main-footer_section_contact_link {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-secondary);
    font-size: 1.12rem
}

.main-footer_section_contact_link>a {
    text-decoration: none;
}

.main-footer_section_contact_link>a:hover {
    color: var(--color-tertiary);
}

.main-footer_lgpd {
    font-family: var(--font-family-secondary);
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--color-tertiary);
    padding-bottom: 1%;
}